
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    /* background-color: yellow; */
    color: black;  
}

.card{
    /* background-color: yellow; */
    font-weight: bold;
}
.card button{
    border: 1px solid;
    border-radius: 5px;
    margin: 3rem 0 0 5.3rem ;
    text-transform: capitalize;
    background-color: yellow;
}

.read-the-docs {
    /* background-color: red; */
    font-weight: bold;
    font-style: italic;
}

